---
import Logo from './Logo.astro'
import Behance from '../assets/behance.svg'
import Github from '../assets/github.svg'
import Linkedin from '../assets/linkedin.svg'

import { Image } from 'astro:assets'
---
<nav id="showMenu" class="hidden">
	<div class="absolute bg-[#0C1014] grid place-content-center w-full min-h-screen z-40">
		<ul class="flex flex-col items-center justify-center mb-10 text-2xl font-bold text-white">
			<li class="py-4"><a href="/">Home</a></li>
			<li class="py-4"><a id="close" href="#profile">About me</a></li>
			<li class="py-4"><a id="close1" href="#projects">Projects</a></li>
			<li class="py-4"><a id="close2" href="#call">Get In Touch</a></li>
		</ul>
		<div class="flex items-center justify-center gap-9 text-white">
			<a href="https://www.linkedin.com/in/juan-jos%C3%A9-rodriguez-carabali-566990193/" target="_blank"><Image src={Linkedin} alt="Linkedin" width={45} height={45} /></a>
			<a href="https://github.com/roritopra" target="_blank"
					><Image src={Github} alt="Github" width={45} height={45} /></a
			>
			<a href="https://www.behance.net/rodro" target='_blank"'
					><Image src={Behance} alt="Behance" width={45} height={45} /></a
			>
		</div>	
	</div>
</nav>

<header
	data-aos="fade-down"
	data-aos-duration="1700"
	data-aos-delay="1700"
	id="landing-header"
	class="py-3 px-10 flex items-center fixed top-0 w-full justify-between z-40 text-white"
>
	<div class="flex flex-grow basis-0">
		<a href="./" class="w-25px h-46px"><Logo /></a>
	</div>

	<nav class="hidden xl:block sm:hidden">
		<ul
			class="flex text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
		>
			<li><a href="/">Home</a></li>
			<li><a href="#profile">About me</a></li>
			<li><a href="#projects">Projects</a></li>
			<li><a href="#call">Get In Touch</a></li>
		</ul>
	</nav>

	<nav class="flex flex-grow justify-end basis-0">
		<ul
			class="flex items-center text-sm [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:text-current [&>li>a]:font-medium [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2"
		>
			<li class="hidden xl:block sm:hidden">
				<a href="https://www.linkedin.com/in/juan-jos%C3%A9-rodriguez-carabali-566990193/" target="_blank"><Image src={Linkedin} alt="linkedin" /></a>
			</li>
			<li class="hidden xl:block sm:hidden">
				<a href="https://github.com/roritopra" target="_blank"
					><Image src={Github} alt="github" /></a
				>
			</li>
			<li class="hidden xl:block sm:hidden">
				<a href="https://www.behance.net/rodro" target='_blank"'
					><Image src={Behance} alt="behance" /></a
				>
			</li>
			<li id="openMenu" class="block sm:block xl:hidden"><svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
			</svg></li>
		</ul>
	</nav>
	<div
		id="menu-backdrop"
		class={`absolute bg-white/5 backdrop-blur-lg rounded translate-x-[var(--left)] translate-y-[var(--top)] left-0 top-0 w-[var(--width)] h-[var(--height)] transition-all duration-500 ease-in-out opacity-0 -z-10
    `}
	>
	</div>
</header>

<script>
	const listItem = document.querySelectorAll('#landing-header li')
	const menuBackDrop = document.querySelector('#menu-backdrop') as HTMLElement

	listItem.forEach((item) => {
		item.addEventListener('mouseenter', () => {
			const { left, top, width, height } = item.getBoundingClientRect()

			menuBackDrop.style.setProperty('--left', `${left}px`)
			menuBackDrop.style.setProperty('--top', `${top}px`)
			menuBackDrop.style.setProperty('--width', `${width}px`)
			menuBackDrop.style.setProperty('--height', `${height}px`)

			menuBackDrop.style.opacity = '1'
			menuBackDrop.style.visibility = 'visible'
		})

		item.addEventListener('mouseleave', () => {
			menuBackDrop.style.opacity = '0'
			menuBackDrop.style.visibility = 'hidden'
		})
	})
</script>

<script>
	const headerEl = document.querySelector('#landing-header') as HTMLElement

	const observerOptions = {
		root: null,
		rootMargin: '0px', // en cuanto se vea el elemento
		threshold: 0.9, // porcentaje de visibilidad
	}

	const observer = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			const { isIntersecting } = entry
			if (isIntersecting) {
				const color = entry.target.getAttribute('data-header-color')
				headerEl.style.color = color
			}
		})
	}, observerOptions)

	const sectionElements = document.querySelectorAll('.landing-section')
	sectionElements.forEach((section) => observer.observe(section))
</script>

<script>
	const openMenu = document.querySelector('#openMenu') as HTMLElement
	const showMenu = document.querySelector('#showMenu') as HTMLElement

	openMenu.addEventListener('click', () => {
		if (showMenu.classList.contains('hidden')) {
			showMenu.classList.remove('hidden')
		} else {
			showMenu.classList.add('hidden')
		}
	})

	const closeLists = document.querySelector('#close') as HTMLElement

	closeLists.addEventListener('click', () => {
		showMenu.classList.add('hidden')
	})
	const closeLists1 = document.querySelector('#close1') as HTMLElement

	closeLists1.addEventListener('click', () => {
		showMenu.classList.add('hidden')
	})
	const closeLists2 = document.querySelector('#close2') as HTMLElement

	closeLists2.addEventListener('click', () => {
		showMenu.classList.add('hidden')
	})
</script>