---
import Modal from './Modal.astro'

import Astra from '../assets/astra.webp'
import Starbucks from '../assets/starbucks.webp'
import HM from '../assets/h&m.webp'
import Rodro from '../assets/rodro.webp'
import Bank from '../assets/bancow.webp'
import Bitx from '../assets/bitx.webp'
import AstraBg from '../assets/astraBg.png'
import BitxBg from '../assets/bitxBg.png'
import BankBg from '../assets/bankBg.png'
import HMBg from '../assets/hmBg.png'
import StarbucksBg from '../assets/starbucksBg.png'
import BgProjects from '../assets/bg_projects.webp'

import { Image } from 'astro:assets'

import json from '../content/data.json'
---

<section
	id="projects"
	class="relative h-full px-12 grid grid-cols-14 z-30 max-lg:grid-cols-11 pt-[9rem] pb-[46rem]"
>
	<div class="section-background">
		<Image src={BgProjects} alt="" format='webp' quality={"mid"}>
	</div>
	<article
		class="flex flex-col justify-center items-center col-start-4 col-end-12 max-lg:col-start-1"
	>
		<div class="flex justify-center flex-col items-center mb-28 max-lg:mb-16">
			<h6
				style="background: var(--titlessubtitles, linear-gradient(89deg, #01EBA6 0%, #01D398 34.90%, #01A47D 69.79%, #018C77 97.97%));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;"
				class="relative text-center mb-2 text-xl font-bold tracking-tight max-md:text-base"
			>
				Work
			</h6>
			<h2 class="relative text-center text-white font-bold text-5xl mb-3 max-md:text-3xl">
				Dig into my universe
			</h2>
		</div>
		<div
			class="w-full aspect-4/3 grid grid-cols-3 grid-rows-3 gap-2 relative z-10"
		>
			<div
				class="w-full h-full flex items-center justify-center relative p-1 rounded-md bg-gradient-to-t from-[#03B381] to-[#3B4755] max-lg:p-[2px]"
				id="item-0"
			>
				<div
					id="openModalBtn"
					class="card-image flex justify-center relative items-center h-full rounded-md w-full bg-gray-800"
				>
					<Image
						id="image1"
						class="object-contain py-5 transition-opacity duration-500 aspect-1/1 max-w-1/3 max-sm:max-w-[35%]"
						src={Astra}
						alt="astra image"
						quality={"mid"}
					/>
					<Image
						id="image2"
						class="hover-image rounded-md w-full h-full object-cover opacity-0 absolute top-0 left-0 transition-opacity duration-500 aspect-1/1 max-w-full"
						src={AstraBg}
						alt="Astra image"
					/>
				</div>
				<Modal
					id="modalContainer"
					close="closeModalBtn"
					title={json[0].title}
					content={json[0].content}
					linkb={json[0].linkb}
					linkg={json[0].linkg}
					linkp={json[0].linkp}
					tags={json[0].tags}
				/>
				<Modal
					id="modalContainer2"
					close="closeModalBtn2"
					title={json[1].title}
					content={json[1].content}
					linkb={json[1].linkb}
					linkg={json[1].linkg}
					linkp={json[1].linkp}
					tags={json[1].tags}
				/>
				<Modal
					id="modalContainer3"
					close="closeModalBtn3"
					title={json[2].title}
					content={json[2].content}
					linkb={json[2].linkb}
					linkg={json[2].linkg}
					linkp={json[2].linkp}
					tags={json[2].tags}
				/>
				<Modal
					id="modalContainer4"
					close="closeModalBtn4"
					title={json[3].title}
					content={json[3].content}
					linkb={json[3].linkb}
					linkg={json[3].linkg}
					linkp={json[3].linkp}
					tags={json[3].tags}
				/>
				<Modal
					id="modalContainer5"
					close="closeModalBtn5"
					title={json[4].title}
					content={json[4].content}
					linkb={json[4].linkb}
					linkg={json[4].linkg}
					linkp={json[4].linkp}
					tags={json[4].tags}
				/>
			</div>
			<div
				class="w-full h-full flex items-center justify-center p-1 relative rounded-md bg-gradient-to-t from-[#03B381] to-[#3B4755] max-lg:p-[2px]"
				id="item-1"
			>
				<div
					id="openModalBtn2"
					class="card-image5 flex justify-center relative items-center h-full rounded-md w-full bg-[#1E3932]"
				>
					<Image
						id="image9"
						class="object-contain py-5 transition-opacity duration-500 aspect-1/1 max-w-2/3 max-sm:max-w-full"
						src={Starbucks}
						alt="starbucks image"
						quality={"mid"}
					/>
					<Image
						id="image10"
						class="hover-image rounded-md w-full h-full object-cover opacity-0 absolute top-0 left-0 transition-opacity duration-500 aspect-1/1 max-w-full"
						src={StarbucksBg}
						alt="starbucks image"
					/>
				</div>
			</div>
			<div
				class="w-full h-full flex items-center justify-center p-1 relative rounded-md bg-gradient-to-t from-[#03B381] to-[#3B4755] max-lg:p-[2px]"
				id="item-2"
			>
				<div
					style="background: linear-gradient(180deg, #FFF 0%, #D7D0CF 100%);
				"
					id="openModalBtn3"
					class="card-image4 flex justify-center relative items-center h-full rounded-md w-full"
				>
					<Image
						class="object-contain py-5 transition-opacity duration-500 aspect-1/1 max-w-4/5 max-sm:max-w-[112%]"
						id="image7"
						src={HM}
						alt="h&m image"
						quality={"mid"}
					/>
					<Image
						id="image8"
						class="hover-image rounded-md w-full h-full object-cover opacity-0 absolute top-0 left-0 transition-opacity duration-500 aspect-1/1 max-w-full"
						src={HMBg}
						alt="h&m image"
						quality={"mid"}
					/>
				</div>
			</div>
			<div
				class="w-full h-full flex items-center justify-center relative p-1 rounded-md bg-gradient-to-t from-[#03B381] to-[#3B4755] max-lg:p-[2px]"
				id="item-3"
			>
				<div
					class="flex justify-center items-center h-full rounded-md w-full bg-[#122C35]"
				>
					<Image
						class="object-contain aspect-1/1 max-w-4/5"
						src={Rodro}
						alt="rodro image"
						quality={"mid"}
					/>
				</div>
			</div>
			<div
				class="w-full h-full flex items-center justify-center relative p-1 rounded-md bg-gradient-to-t from-[#03B381] to-[#3B4755] max-lg:p-[2px]"
				id="item-4"
			>
				<div
					id="openModalBtn4"
					class="card-image3 flex justify-center relative items-center h-full rounded-md w-full bg-white"
				>
					<Image
						id="image5"
						class="object-contain py-5 transition-opacity duration-500 aspect-0/0 max-w-1/5"
						src={Bank}
						alt="bank image"
						quality={"mid"}
					/>
					<Image
						id="image6"
						class="hover-image rounded-md w-full h-full object-cover opacity-0 absolute top-0 left-0 transition-opacity duration-500 max-w-full aspect-1/1"
						src={BankBg}
						alt="bank image"
					/>
				</div>
			</div>
			<div
				class="w-full h-full flex items-center justify-center p-1 relative rounded-md bg-gradient-to-t from-[#03B381] to-[#3B4755] max-lg:p-[2px]"
				id="item-5"
			>
				<div
					id="openModalBtn5"
					class="card-image2 flex justify-center relative items-center h-full rounded-md w-full bg-gray-800"
				>
					<Image
						id="image3"
						class="object-contain py-5 transition-opacity duration-500 aspect-1/1 max-w-1/3"
						src={Bitx}
						alt="bitx image"
						quality={"mid"}
					/>
					<Image
						id="image4"
						class="hover-image rounded-md w-full h-full object-cover opacity-0 absolute top-0 left-0 transition-opacity duration-500 aspect-1/1 max-w-full"
						src={BitxBg}
						alt="bitx image"
						quality={"mid"}
					/>
				</div>
			</div>
		</div>
	</article>
</section>

<script>
	const cardImage = document.querySelector('.card-image')
	const image1 = document.getElementById('image1')
	const image2 = document.getElementById('image2')

	cardImage.addEventListener('mouseenter', () => {
		image1.style.opacity = '0'
		image2.style.opacity = '1'
	})

	cardImage.addEventListener('mouseleave', () => {
		image1.style.opacity = '1'
		image2.style.opacity = '0'
	})

	const cardImage2 = document.querySelector('.card-image2')
	const image3 = document.getElementById('image3')
	const image4 = document.getElementById('image4')

	cardImage2.addEventListener('mouseenter', () => {
		image3.style.opacity = '0'
		image4.style.opacity = '1'
	})

	cardImage2.addEventListener('mouseleave', () => {
		image3.style.opacity = '1'
		image4.style.opacity = '0'
	})

	const cardImage3 = document.querySelector('.card-image3')
	const image5 = document.getElementById('image5')
	const image6 = document.getElementById('image6')

	cardImage3.addEventListener('mouseenter', () => {
		image5.style.opacity = '0'
		image6.style.opacity = '1'
	})

	cardImage3.addEventListener('mouseleave', () => {
		image5.style.opacity = '1'
		image6.style.opacity = '0'
	})

	const cardImage4 = document.querySelector('.card-image4')
	const image7 = document.getElementById('image7')
	const image8 = document.getElementById('image8')

	cardImage4.addEventListener('mouseenter', () => {
		image7.style.opacity = '0'
		image8.style.opacity = '1'
	})

	cardImage4.addEventListener('mouseleave', () => {
		image7.style.opacity = '1'
		image8.style.opacity = '0'
	})

	const cardImage5 = document.querySelector('.card-image5')
	const image9 = document.getElementById('image9')
	const image10 = document.getElementById('image10')

	cardImage5.addEventListener('mouseenter', () => {
		image9.style.opacity = '0'
		image10.style.opacity = '1'
	})

	cardImage5.addEventListener('mouseleave', () => {
		image9.style.opacity = '1'
		image10.style.opacity = '0'
	})
	/*
	const cardImage6 = document.querySelector('.card-image6')
	const image11 = document.getElementById('image11')
	const image12 = document.getElementById('image12')

	cardImage6.addEventListener('mouseenter', () => {
		image11.style.opacity = '0'
		image12.style.opacity = '1'
	})

	cardImage6.addEventListener('mouseleave', () => {
		image11.style.opacity = '1'
		image12.style.opacity = '0'
	})
	*/
</script>

<style>
	.section-background {
		height: auto;
		left: 100%;
		margin-top: 14%;
		transform: translateX(-55%);
		width: 230%;
		z-index: 1;
		mix-blend-mode: lighten;
		pointer-events: none;
		position: absolute;
	}
	.section-background img {
		z-index: 60;
		left: 0;
		top: 0;
		width: 60%;
	}

	@media only screen and (max-width: 1024px) {
		.section-background {
		left: 69%;
		}
	.section-background img {
		width: 100%;
		}
	}
	@media only screen and (max-width: 600px) {
		.section-background {
			margin-top: 30%;
	}
	.section-background img {
		width: 100%;
		}
	}
	@media only screen and (max-width: 500px) {
		.section-background {
			margin-top: 50%;
		}
	}
	@media only screen and (max-width: 400px) {
		.section-background {
			margin-top: 65%;
		}
	}
</style>

<style>
	#item-0 {
		grid-row-start: 1;
		grid-column-start: 1;
		grid-column-end: 4;
	}
	#item-1 {
		grid-row-start: 2;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	#item-2 {
		grid-row-start: 2;
		grid-column-start: 2;
		grid-column-end: 3;
	}
	#item-3 {
		grid-row-start: 2;
		grid-column-start: 3;

		grid-row-end: 4;
		grid-column-end: 4;
	}
	#item-4 {
		grid-row-start: 3;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	#item-5 {
		grid-row-start: 4;
		grid-column-start: 1;
		grid-column-end: 4;
	}
</style>
