---
import Astra from '/astra.webp'
import Tyco from '/tyco.webp'
import HM from '/h&m.webp'
import Rodro from '/rodro.webp'
import Bank from '/bancow.webp'
import Bitx from '/bitx.webp'
---

<section
	style="grid-template-columns: repeat(14, minmax(0, 1fr));"
	class="relative h-full px-12 grid grid-cols-12"
>
	<article
		style="grid-column: 4 / 12;"
		class="flex flex-col justify-center items-center"
	>
		<div class="flex justify-center flex-col items-center mb-28">
			<h6
				style="background: var(--titlessubtitles, linear-gradient(89deg, #01EBA6 0%, #01D398 34.90%, #01A47D 69.79%, #018C77 97.97%));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;"
				class="relative z-40 text-center mb-2 text-xl font-bold tracking-tight"
			>
				Work
			</h6>
			<h2 class="relative z-30 text-center text-white font-bold text-5xl mb-3">
				Dig into my universe
			</h2>
		</div>
		<div
			class="w-full aspect-4/3 grid grid-cols-3 grid-rows-3 gap-2 relative z-10"
		>
			<div
				class="w-full h-full flex items-center justify-center relative p-1 rounded-md bg-gradient-to-t from-[#03B381] to-[#3B4755]"
				id="item-0"
			>
				<div
					class="flex justify-center items-center h-full rounded-md w-full bg-gray-800"
				>
					<img
						style="max-width: 30%;
						aspect-ratio: 1 / 1;"
						class="object-contain py-5"
						src={Astra}
						alt=""
					/>
				</div>
			</div>
			<div
				class="w-full h-full flex items-center justify-center relative p-1 rounded-md bg-gradient-to-t from-[#03B381] to-[#3B4755]"
				id="item-1"
			>
				<div
					class="flex justify-center items-center h-full rounded-md w-full bg-[#25073C]"
				>
					<img
						style="max-width: 80%;
						aspect-ratio: 1 / 1;"
						class="object-contain"
						src={Tyco}
						alt=""
					/>
				</div>
			</div>
			<div
				class="w-full h-full flex items-center justify-center relative p-1 rounded-md bg-gradient-to-t from-[#03B381] to-[#3B4755]"
				id="item-2"
			>
				<div
					style="background: linear-gradient(180deg, #FFF 0%, #D7D0CF 100%);
				"
					class="flex justify-center items-center h-full rounded-md w-full"
				>
					<img
						style="max-width: 80%;
						aspect-ratio: 1 / 1;"
						class="object-contain"
						src={HM}
						alt=""
					/>
				</div>
			</div>
			<div
				class="w-full h-full flex items-center justify-center relative p-1 rounded-md bg-gradient-to-t from-[#03B381] to-[#3B4755]"
				id="item-3"
			>
				<div
					class="flex justify-center items-center h-full rounded-md w-full bg-[#122C35]"
				>
					<img
						style="max-width: 80%;
						aspect-ratio: 1 / 1;"
						class="object-contain"
						src={Rodro}
						alt=""
					/>
				</div>
			</div>
			<div
				class="w-full h-full flex items-center justify-center relative p-1 rounded-md bg-gradient-to-t from-[#03B381] to-[#3B4755]"
				id="item-4"
			>
				<div
					class="flex justify-center items-center h-full rounded-md w-full bg-white"
				>
					<img
						style="max-width: 55%;
						aspect-ratio: 0 / 0;"
						class="object-contain"
						src={Bank}
						alt=""
					/>
				</div>
			</div>
			<div
				class="w-full h-full flex items-center justify-center relative p-1 rounded-md bg-gradient-to-t from-[#03B381] to-[#3B4755]"
				id="item-5"
			>
				<div
					class="flex justify-center items-center h-full rounded-md w-full bg-[#1B1D23]"
				>
					<img
						style="max-width: 30%;
						aspect-ratio: 1 / 1;"
						class="object-contain py-5"
						src={Bitx}
						alt=""
					/>
				</div>
			</div>
		</div>
	</article>
</section>

<!-- 
<div
	class="w-full h-full flex items-center justify-center relative p-1 rounded-md bg-gradient-to-t from-[#03B381] to-[#3B4755]"
	id="item-0"
>
	<div
		class="flex justify-center items-center h-full rounded-md w-full bg-gray-800"
	>
		<img
			style="max-width: 30%;
			aspect-ratio: 1 / 1;"
			class="object-contain"
			src={Astra}
			alt=""
		/>
	</div>
</div>
-->

<style>
	#item-0 {
		grid-row-start: 1;
		grid-column-start: 1;
		grid-column-end: 4;
	}
	#item-1 {
		grid-row-start: 2;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	#item-2 {
		grid-row-start: 2;
		grid-column-start: 2;
		grid-column-end: 3;
	}
	#item-3 {
		grid-row-start: 2;
		grid-column-start: 3;

		grid-row-end: 4;
		grid-column-end: 4;
	}
	#item-4 {
		grid-row-start: 3;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	#item-5 {
		grid-row-start: 4;
		grid-column-start: 1;
		grid-column-end: 4;
	}
</style>
