---
import JS from '../assets/js.png'
import HTML from '../assets/html.png'
import CSS from '../assets/css.png'
import SASS from '../assets/sass.png'
import Tailwind from '../assets/tailwind.png'
import LogoReact from '../assets/React.png'
import LogoAstro from '../assets/astro.png'
import Kotlin from '../assets/kotlin.png'
import Git from '../assets/git.png'
import GitHub from '../assets/github.png'
import Visual from '../assets/visualstudio.png'
import Figma from '../assets/figma.png'
import Photoshop from '../assets/photoshop.png'
import AE from '../assets/after-effects.png'
import Android from '../assets/android-studio.png'
import BgSkills from '../assets/bg_skills.webp'

import { Image } from 'astro:assets'
---

<style>
	.section-background {
		height: auto;
		left: 90%;
		margin-top: -33%;
		transform: translateX(-45%);
		width: 200%;
		z-index: 999;
		mix-blend-mode: lighten;
		pointer-events: none;
		position: absolute;
		top: 0;
	}
	.section-background img {
		z-index: 60;
		left: 0;
		position: absolute;
		top: 0;
		width: 50%;
	}
</style>

<section
	class="flex justify-center flex-col items-center w-screen relative z-10"
>
	<div class="section-background">
		<Image src={BgSkills} alt="" quality={'mid'} width={2310} height={1565} />
	</div>
	<div class="flex justify-center flex-col items-center mb-20">
		<h6
			style="background: var(--titlessubtitles, linear-gradient(89deg, #01EBA6 0%, #01D398 34.90%, #01A47D 69.79%, #018C77 97.97%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;"
			class="relative z-40 text-center mb-2 text-xl font-bold tracking-tight"
		>
			Skills
		</h6>
		<h2 class="relative z-30 text-center text-white font-bold text-5xl mb-3">
			Frontend
		</h2>
	</div>
	<article class="flex flex-wrap justify-center items-center gap-12 mb-44">
		<Image
			data-tooltip-target="tooltip-bottom"
			data-tooltip-placement="bottom"
			src={JS}
			alt=""
			quality={'mid'}
			format="webp"
		/>
		<div
			id="tooltip-bottom"
			role="tooltip"
			class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-[#2C2C2C] rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
		>
			Javascript
			<div class="tooltip-arrow" data-popper-arrow></div>
		</div>
		<Image
			data-tooltip-target="tooltip-bottom2"
			data-tooltip-placement="bottom"
			src={HTML}
			alt="html logo"
			quality={'mid'}
			format="webp"
		/>
		<div
			id="tooltip-bottom2"
			role="tooltip"
			class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-[#2C2C2C] rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
		>
			HTML
			<div class="tooltip-arrow" data-popper-arrow></div>
		</div>
		<Image
			data-tooltip-target="tooltip-bottom3"
			data-tooltip-placement="bottom"
			src={CSS}
			alt="css logo"
			quality={'mid'}
			format="webp"
		/>
		<div
			id="tooltip-bottom3"
			role="tooltip"
			class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-[#2C2C2C] rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
		>
			CSS
			<div class="tooltip-arrow" data-popper-arrow></div>
		</div>
		<Image
			data-tooltip-target="tooltip-bottom4"
			data-tooltip-placement="bottom"
			src={SASS}
			alt="sass logo"
			quality={'mid'}
			format="webp"
		/>
		<div
			id="tooltip-bottom4"
			role="tooltip"
			class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-[#2C2C2C] rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
		>
			SASS
			<div class="tooltip-arrow" data-popper-arrow></div>
		</div>
		<Image
			data-tooltip-target="tooltip-bottom5"
			data-tooltip-placement="bottom"
			src={Tailwind}
			alt="tailwind logo"
			quality={'mid'}
			format="webp"
		/>
		<div
			id="tooltip-bottom5"
			role="tooltip"
			class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-[#2C2C2C] rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
		>
			Tailwind
			<div class="tooltip-arrow" data-popper-arrow></div>
		</div>
		<Image
			data-tooltip-target="tooltip-bottom6"
			data-tooltip-placement="bottom"
			src={LogoReact}
			alt="logo react"
			quality={'mid'}
			format="webp"
		/>
		<div
			id="tooltip-bottom6"
			role="tooltip"
			class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-[#2C2C2C] rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
		>
			React
			<div class="tooltip-arrow" data-popper-arrow></div>
		</div>
		<Image
			data-tooltip-target="tooltip-bottom7"
			data-tooltip-placement="bottom"
			src={LogoAstro}
			alt="logo astro"
			quality={'mid'}
			format="webp"
		/>
		<div
			id="tooltip-bottom7"
			role="tooltip"
			class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-[#2C2C2C] rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
		>
			Astro
			<div class="tooltip-arrow" data-popper-arrow></div>
		</div>
		<Image
			data-tooltip-target="tooltip-bottom8"
			data-tooltip-placement="bottom"
			src={Kotlin}
			alt="logo kotlin"
			quality={'mid'}
			format="webp"
		/>
		<div
			id="tooltip-bottom8"
			role="tooltip"
			class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-[#2C2C2C] rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
		>
			Kotlin
			<div class="tooltip-arrow" data-popper-arrow></div>
		</div>
	</article>
	<div class="flex justify-center flex-col items-center mb-20">
		<h2 class="relative z-30 text-center text-white font-bold text-5xl mb-3">
			Other
		</h2>
	</div>
	<article class="flex flex-wrap justify-center items-center gap-12 mb-32">
		<Image
			data-tooltip-target="tooltip-bottom9"
			data-tooltip-placement="bottom"
			src={Git}
			alt="logo git"
			quality={'mid'}
			format="webp"
		/>
		<div
			id="tooltip-bottom9"
			role="tooltip"
			class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-[#2C2C2C] rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
		>
			Git
			<div class="tooltip-arrow" data-popper-arrow></div>
		</div>
		<Image
			data-tooltip-target="tooltip-bottom10"
			data-tooltip-placement="bottom"
			src={GitHub}
			alt="logo github"
			quality={'mid'}
			format="webp"
		/>
		<div
			id="tooltip-bottom10"
			role="tooltip"
			class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-[#2C2C2C] rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
		>
			GitHub
			<div class="tooltip-arrow" data-popper-arrow></div>
		</div>
		<Image
			data-tooltip-target="tooltip-bottom11"
			data-tooltip-placement="bottom"
			src={Visual}
			alt="logo visual studio"
			quality={'mid'}
			format="webp"
		/>
		<div
			id="tooltip-bottom11"
			role="tooltip"
			class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-[#2C2C2C] rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
		>
			Visual Studio
			<div class="tooltip-arrow" data-popper-arrow></div>
		</div>
		<Image
			data-tooltip-target="tooltip-bottom12"
			data-tooltip-placement="bottom"
			src={Figma}
			alt="logo figma"
			quality={'mid'}
			format="webp"
		/>
		<div
			id="tooltip-bottom12"
			role="tooltip"
			class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-[#2C2C2C] rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
		>
			Figma
			<div class="tooltip-arrow" data-popper-arrow></div>
		</div>
		<Image
			data-tooltip-target="tooltip-bottom13"
			data-tooltip-placement="bottom"
			src={Photoshop}
			alt="logo photoshop"
			quality={'mid'}
			format="webp"
		/>
		<div
			id="tooltip-bottom13"
			role="tooltip"
			class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-[#2C2C2C] rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
		>
			Photoshop
			<div class="tooltip-arrow" data-popper-arrow></div>
		</div>
		<Image
			data-tooltip-target="tooltip-bottom14"
			data-tooltip-placement="bottom"
			src={AE}
			alt="logo after effects"
			quality={'mid'}
			format="webp"
		/>
		<div
			id="tooltip-bottom14"
			role="tooltip"
			class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-[#2C2C2C] rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
		>
			After Effects
			<div class="tooltip-arrow" data-popper-arrow></div>
		</div>
		<Image
			data-tooltip-target="tooltip-bottom15"
			data-tooltip-placement="bottom"
			src={Android}
			alt="logo android studio"
			quality={'mid'}
			format="webp"
		/>
		<div
			id="tooltip-bottom15"
			role="tooltip"
			class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-[#2C2C2C] rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
		>
			Android Studio
			<div class="tooltip-arrow" data-popper-arrow></div>
		</div>
	</article>
</section>
