---
import JS from '/js.png'
import HTML from '/html.png'
import CSS from '/css.png'
import SASS from '/sass.png'
import Tailwind from '/tailwind.png'
import LogoReact from '/React.png'
import LogoAstro from '/astro.png'
import Kotlin from '/kotlin.png'
import Git from '/git.png'
import GitHub from '/github.png'
import Visual from '/visualstudio.png'
import Figma from '/figma.png'
import Photoshop from '/photoshop.png'
import AE from '/after-effects.png'
import Android from '/android-studio.png'
---

<section
	class="flex justify-center flex-col items-center w-screen relative z-10"
>
	<div class="flex justify-center flex-col items-center mb-20">
		<h6
			style="background: var(--titlessubtitles, linear-gradient(89deg, #01EBA6 0%, #01D398 34.90%, #01A47D 69.79%, #018C77 97.97%));
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;"
			class="relative z-40 text-center mb-2 text-xl font-bold tracking-tight"
		>
			Skills
		</h6>
		<h2 class="relative z-30 text-center text-white font-bold text-5xl mb-3">
			Frontend
		</h2>
	</div>
	<article class="flex flex-wrap justify-center items-center gap-12 mb-44">
		<img src={JS} alt="" />
		<img src={HTML} alt="" />
		<img src={CSS} alt="" />
		<img src={SASS} alt="" />
		<img src={Tailwind} alt="" />
		<img src={LogoReact} alt="" />
		<img src={LogoAstro} alt="" />
		<img src={Kotlin} alt="" />
	</article>
	<div class="flex justify-center flex-col items-center mb-20">
		<h2 class="relative z-30 text-center text-white font-bold text-5xl mb-3">
			Other
		</h2>
	</div>
	<article class="flex flex-wrap justify-center items-center gap-12 mb-32">
		<img src={Git} alt="" />
		<img src={GitHub} alt="" />
		<img src={Visual} alt="" />
		<img src={Figma} alt="" />
		<img src={Photoshop} alt="" />
		<img src={AE} alt="" />
		<img src={Android} alt="" />
	</article>
</section>
