---
interface Props {
	title: string
	seoTitle: string
	seoDesc: string
}

const { title, seoDesc, seoTitle } = Astro.props

import Head from './Head.astro'
import MenuLanding from '../components/MenuLanding.astro'
---

<!DOCTYPE html>
<html lang="en">
	<Head title={title} seoTitle={seoTitle} seoDesc={seoDesc} />
	<body>
		<div class="cursor-dot"></div>
		<div class="cursor-outline"></div>
		<main
			class="bg-[#0C1014] snap-y snap-mandatory relative z-30 w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
		>
			<MenuLanding />
			<div class="noise bg-noise"></div>
			<slot />
		</main>
		<script
			is:inline
			src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
		></script>
		<script is:inline src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script is:inline>
			AOS.init()
		</script>
		<script>
			const cursorDot = document.querySelector('.cursor-dot') as HTMLElement
			const cursorOutline = document.querySelector('.cursor-outline')

			function changeCursorColorOnHover(event) {
				const isLink = event.target.tagName.toLowerCase() === 'a'
				const isImg = event.target.tagName.toLowerCase() === 'img'

				if (isLink || isImg) {
					cursorDot.style.background = '#00EBA6'
					cursorOutline.style.borderColor = '#00EBA6'
					cursorOutline.style.background = 'rgba(0, 235, 166, 0.50)'
				} else {
					cursorDot.style.background = '#fff'
					cursorOutline.style.borderColor = 'hsl(0, 0%, 100%, 0.5)'
					cursorOutline.style.background = 'rgba(0, 235, 166, 0.00)'
				}
			}

			window.addEventListener('mousemove', function (e) {
				const posX = e.clientX
				const posY = e.clientY

				cursorDot.style.left = `${posX}px`
				cursorDot.style.top = `${posY}px`

				cursorOutline.animate(
					{
						left: `${posX}px`,
						top: `${posY}px`,
					},
					{
						duration: 500,
						easing: 'ease-out',
						fill: 'forwards',
					}
				)
			})

			document.addEventListener('mouseover', changeCursorColorOnHover)
			document.addEventListener('mouseout', () => {
				cursorDot.style.background = '#fff'
				cursorOutline.style.borderColor = 'hsl(0, 0%, 100%, 0.5)'
			})
		</script>
	</body><style>
		.noise {
			pointer-events: none;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			content: '';
			opacity: 0.02;
			z-index: 1000;
			pointer-events: none;
			background-image: url(/noise.gif);
		}
	</style>
</html>
