--- 
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Capa 9.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		<title>{title}</title>
		<style>
			body {
				cursor: none;
			}

			.cursor-dot {
				width: 5px;
				height: 5px;
				background: #fff;
			}

			.cursor-outline {
				width: 30px;
				height: 30px;
				border: 2px solid hsl(0, 0%, 100%, 0.5);
			}

			.cursor-dot,
			.cursor-outline {
				position: fixed;
				top: 0;
				left: 0;
				pointer-events: none;
				transform: translate(-50%, -50%);
				border-radius: 50%;
				z-index: 9999;
			}
		</style>
	</head>
	<body>
		<div class="cursor-dot"></div>
		<div class="cursor-outline"></div>
		<slot />
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
		<script is:inline src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		<script is:inline>
			AOS.init();
		</script>
		<script>
			const cursorDot = document.querySelector('.cursor-dot') as HTMLElement;
			const cursorOutline = document.querySelector('.cursor-outline');

			window.addEventListener("mousemove", function (e) {
				const posX = e.clientX;
				const posY = e.clientY;

				cursorDot.style.left = `${posX}px`;
				cursorDot.style.top = `${posY}px`;

				cursorOutline.animate({
					left: `${posX}px`,
					top: `${posY}px`
				}, {
					duration: 500,
					easing: 'ease-out',
					fill: 'forwards'
				})
			})
		</script>
	</body>
</html>
